#footer{
    width: 100%;
    position: relative;
    background: url(/img/footer-bg.png) ;
    background-size: cover;
   padding: 60px 0  0;
    color: #fff !important;
    margin: 0 ;

     .footer-title {
      padding: 0 0 75px 0;
      color: #5c93ce;
      text-align: center;
      font-family: "Aleo" !important;
    }

    
  
 
  .footer-logo-devlights {
    width: 55%;
    height: 55%;
    vertical-align: middle;
    float: left;
    margin-left: 15px;
    margin-bottom: 35px;
    // float: left;
 }
 .footer-list-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;

  .footer-first-col-p{

    color: #fff;
    position: relative;
    padding-left: 25px;
    line-height: 21px;
    margin-bottom: 17px;
    max-width: 270px;
  }

}

 iframe{
  border-width: inherit;
  float: left;
 }

 .links-box{
  padding-left: 40px;

 }
 .links-menu-li-menu a {
  display: block;
  position: relative;
  color: #fff;
  transition: .3s;
  font-size: 14px;
  font-family: "Open sans",sans-serif;
  font-weight: 500;
}
.footer-menu-links-title {
  padding: 0 0 25px 0;
  font-family: "Open Sans",sans-serif;
}
h4{
  text-align: left;
}
.footer_list_ul_links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
 li{
  padding: 0 0 25px 0;
  font-family: "Open Sans",sans-serif;
 }
 .info-list{
  display: -webkit-inline-box;

  img{
    padding: 10px;

    height: 38px;
    margin-top: -5px;
  }
 }

 .social_icons{
  float: left;;
 }

   .messagearea{
    height: 150px;
  }

 .btn_send_mail {
  display: inline-block;
  padding: 13px 47px;
  box-shadow: 0px 12px 20px 0px rgba(255,126,95,.15);
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 50px;
  border: 0px;
  margin-top: 45px;
  background-size: 300% 100%;
  background-image: linear-gradient(131deg, #ffbb00, #ff972b, #ffa133, #ffa133);
  cursor: pointer;
  font-family: "Open sans";
}





}